.header {
    grid-area: h;
    background-color: rgba(114, 144, 220, 0.87);
}
.header img {
    width: 50px;
    border-radius: 5px;
}
.loginBlock {
float: right;

}
.loginBlock a {
    color: white;
    padding-right: 10px;
}