.nav {
    grid-area: n;
    background-color: rgba(37, 147, 140, 0.87);
border-radius: 5px;


}
.item a {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.item a.activeLink {
    color: blue;
}