.app-wrapper {
    background-color: rgba(146, 29, 224, 0.75);
    display: grid;
    grid-template-rows: 2;

    grid-template-areas:
    "h h"
    "n c";
    width: 1200px;
    margin: 0 auto;
}

.avatar img {
    width: 100px;
}
.app-wrapper-content{
    background-color: #99ced7;
}